@import './variable.css';
body {
  font-family: "Dosis", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--body-color);
}

a {
  padding: 10px;
  text-decoration: none;
  color: var(--url-color);
}

.pink-bg {
  background-color: var(--backgroundColor);
}

.pink-text {
  color: var(--titletextColor);
}

.purple-text {
  color: var(--textColor);
}

.description {
  color: var(--textColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}

.description h2 {
  font-size: 20px;
}

.description p {
  width: 60%;
  text-align: left;
}

.desktop {
  visibility: hidden;
}

img {
  max-width: 100%;
}

p {
  padding-left: 15px;
  padding-right: 15px;
}

/* first Card description*/
#name {
  color: var(--titletextColor);
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introduction h1 {
  color: var(--textColor);
  display: inline;
  justify-content: center;
}

.introduction p {
  color: var(--textColor);
  text-align: left;
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

.btn {
  background-color: var(--background-button-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  .desktop {
    margin: 80px 0 -5px 0;
    min-width: 15rem;
    min-height: 15rem;
    visibility: visible;
  }

  /*Navigation*/
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  /* first Card description*/
  .introduction {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .introduction h1 {
    color: var(--textColor);
    margin: 0;
  }

  .introduction p {
    color: var(--textColor) ;
  }
}
